.mat-card {
  position: relative !important;
}
form {
  width: 100%;
  height: 200px;
}
form .mat-form-field {
  font-size: 14px;
  width: 30%;
  margin-left: 1rem;
}
.btn {
  background-color: #2d86f7;
  color: white;
  margin: 1rem;
}
.no-shadow {
  box-shadow: none;
  color: #424242;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
